<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script>
    $('.carousel').carousel({
      interval: 2000 //기본 5초
    })
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>차박할래?</title>
</head>

<body>
<header>
  <div class="header_box">
    <div class="header_boxin">
      <a href="/index.html"><img src="/img/logo.png" alt="logo"></a>
      <ul class="header_ul">
        <li><a href="/warn">주의사항</a></li>
        <li><a href="/honeyTip">꿀팁</a></li>
        <li><a href="/carItem">차량용품</a></li>
        <li><a href="#">게시판</a></li>
        <li><a href="/stateSelect">장소찾기</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></li>
      </ul>
    </div>
  </div>
</header>
<a th:href="@{/logout}">로그아웃</a><br/>
<a th:href="@{/state/list}">지역별</a><a th:href="@{/state/list/theme}">테마별</a>
<div id="demo" class="carousel slide mainbox mainboxmt" data-ride="carousel">
  <div class="carousel-inner">
    <!-- 슬라이드 쇼 -->
    <div class="carousel-item active">
      <!--가로-->
      <img class="d-block w-100"
           src="img/index_main1.jpg"
           alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
           src="img/index_main2.jpg"
           alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
           src="img/index_main3.jpg"
           alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Carcamping</h5>
        <p>is my life</p>
      </div>
    </div>

    <!-- / 슬라이드 쇼 끝 -->

    <!-- 왼쪽 오른쪽 화살표 버튼 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span>Previous</span> -->
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span>Next</span> -->
    </a>
    <!-- / 화살표 버튼 끝 -->

    <!-- 인디케이터 -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li> <!--0번부터시작-->
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- 인디케이터 끝 -->
  </div>

  <div class="maincontent">
    <div>
      <span class="font-uh maintag"><img src="img/전구.png" alt="전구"> 캠핑 필수템!!</span>
      <img src="img/index_06.jpg" alt="캠핑용품">
      <a href="/carItem.html" class="td-none"><p class="font-uh font-rigth">더보기 -></p></a>
    </div>

    <div class="campingteam">
      <span class="font-uh maintag"><img src="img/전구.png" alt="전구"> 차박 장소 리뷰 ~.~</span>
      <ul>
        <li class="reviewbox">
          <img src="img/index_main2.jpg" alt="">
          <p class="review-title">가평 빠지</p>
          <p class="review-content">야외에서 숙식을 해결하는 행위. 하나의 레저로 즐기는 경우가 많다. 대한민국에서도 많은 사람들이 캠핑을 즐기며 산이건 바다건 캠핑장이 하나씩은 꼭 있는 것을 볼 수 있다.
          </p>
        </li>
        <li class="reviewbox">
          <img src="img/index_main2.jpg" alt="">
          <p class="review-title">몽산포오션캠핑장 충남</p>
          <p class="review-content">야외에서 숙식을 해결하는 행위. 하나의 레저로 즐기는 경우가 많다. 대한민국에서도 많은 사람들이 캠핑을 즐기며 산이건 바다건 캠핑장이 하나씩은 꼭 있는 것을 볼 수 있다.
          </p>
        </li>
        <li class="reviewbox">
          <img src="img/index_main2.jpg" alt="">
          <p class="review-title">임진강 주상절리 경기 연천군</p>
          <p class="review-content">야외에서 숙식을 해결하는 행위. 하나의 레저로 즐기는 경우가 많다. 대한민국에서도 많은 사람들이 캠핑을 즐기며 산이건 바다건 캠핑장이 하나씩은 꼭 있는 것을 볼 수 있다.

          </p>
        </li>
      </ul>
<!--      <p class="font-uh font-rigth">더보기 -></p>-->
    </div>
  </div>
</div>
</body>
</html>
